@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.layout{
  @apply bg-white text-black dark:bg-[#090908] dark:text-white h-full selection:bg-teal-300 dark:selection:bg-gray-800
}

/* Nav section */
.nav-wrapper{
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8
}
.nav-link-wrapper{
  @apply hidden sm:ml-6 sm:flex sm:space-x-8 sm:items-center
}
.nav-active-link{
  @apply border-teal-500 dark:text-white h-full inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
}
.nav-notactive-link{
  @apply border-transparent text-gray-500 dark:text-gray-300 dark:hover:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium
}
.hamburger{
  @apply inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-500 dark:hover:bg-gray-800
}

/* Mobile Nav */
.mobile-nav-open{
 @apply bg-teal-50  border-teal-500 text-teal-500 block pl-3 pr-4 py-2 border-l-4 text-base font-medium dark:bg-gray-800
}
.mobile-nav-close{
  @apply border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-teal-500 block pl-3 pr-4 py-2 dark:hover:bg-gray-700 border-l-4 text-base font-medium dark:text-white
}

/* Theme mode */
.theme-btn{
  @apply bg-teal-500/30 p-2 rounded-lg text-teal-500
}

/* Home section */
.home{
  @apply divide-y divide-gray-100 dark:divide-gray-700
}
.home-heading{
  @apply text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl 
}
.home-model-container{
  @apply items-center space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0
}
.resume-btn{
  @apply bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-3xl mt-3 inline-flex items-center dark:text-black
}

/* Projects page */
.projects-container{
  @apply divide-y divide-gray-200 dark:divide-gray-700 
}
.project-heading{
  @apply text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 
}
.project-wrapper{
  @apply grid gap-y-8 sm:gap-6 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-10 pt-8 mb-8
}
.project-card{
  @apply overflow-hidden dark:border-zinc-600 rounded-lg border border-gray-100 bg-white shadow-lg dark:bg-black dark:shadow-gray-700 shadow-teal-100
}
.card-title{
  @apply text-lg font-medium text-gray-900 dark:text-white
}
.card-overview{
  @apply line-clamp-2 mt-2 text-sm leading-relaxed text-gray-500 dark:text-gray-400
}
.card-link{
  @apply mt-4 inline-flex items-center gap-1 text-sm font-medium text-teal-500 
}

/* Contact me */
.label{
  @apply block my-2 text-left text-sm font-medium text-gray-950 dark:text-gray-100
}
.input{
  @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-100 rounded-lg shadow-sm border-none  
}
.email-btn{
  @apply bg-teal-500 hover:bg-teal-600 text-white font-semibold py-2 px-4 rounded-3xl mt-3 inline-flex items-center dark:text-black 
}